<h1>Shopping Cart</h1>
<% @carted_products.each do |carted_product| %>
  <h3><%= carted_product.product.title %></h3>
  <img src="<%= carted_product.product.image %>">
  <h4>Quantity: <%= carted_product.quantity %></h4>
<% end %>

<%= form_tag "/orders/#{@order.id}", :method => :patch do %>
  <%= submit_tag "Complete Purchase!" %>
<% end %>

	<a href="/carted_products/<%= cart.id %>" > 
	<h3> 
	CartId:<%= cart.id %> 	
	ProductId:<%= cart.product_id %> 
	OrderId: <%= cart.order_id %>
		Quantity: <%= cart.quantity %>
	<br> 

	<% end %>
</h3>

