<h1> display.html.erb </h1> 
<h2><%=@employee.first %> <%=@employee.last %> 
</h2>
<h2><%=@employee.email %>, <%=@employee.title %> </h2>
<h2><%=@employee.salary %> </h2>
<h2><%=@employee.phone %> </h2>
<h2><%=@employee.gender %> </h2>
<h3> Today's date is <%=Date.today %></h3>
<h3> The time now is <%=Time.now %></h3> 