<!-- edit.html.erb -->
<!-- new.html.erb -->
<h1> Add New Product </h1> 
<%= form_tag("/products/#{@product.id}", :method => :patch) do %> 
<div class = "inner_div"> 
	<%= label_tag :price %>
	<%= text_field_tag :price, @product.price %>	
</div> 
<div class = "inner_div"> 
	<%= label_tag :title %>
	<%= text_field_tag :title, @product.title %>
</div> 
<div class = "inner_div"> 
	<%= label_tag :image %>
	<%= text_field_tag :image, @product.image %>	
</div> 
<div class = "inner_div"> 
	<%= label_tag :description %>
	<%= text_field_tag :description, @product.description %>
</div> 
<div class = "inner_div"> 
	<%= label_tag :category %>
	<%= text_field_tag :category, @product.category %>	
</div> 
<!-- S -->
	<%= submit_tag "Edit Product" %>
</div> 
	<% end %>